{% extends 'store/main.html' %}
{% load static %}
{% block content %}
  <main class="main--cart">
    <section class="cart-section">
      <div class="cart">
        <div class="quote--cart">
          <h2 class="heading heading--cart">Twój koszyk</h2>
          <p class="total-amount">3 produkty</p>
        </div>

        <div class="items--cart">
          <div class="gallery-container product">
            <figure class="gallery-item">
              <img data-src="{% static "img/products/epipremnum_aureum_0.jpg" %}" alt="Epipremnum Aureum Flower" class="lazy">
              <img data-src="{% static "img/products/epipremnum_aureum_1.jpg" %}" alt="Epipremnum Aureum Flower" class="img-hover lazy">
            </figure>
            <p class="product-name">Epipremnum Aureumdsdsasddsas</p>
            <div>
              <input type="number" min="0" placeholder="1">
              <p class="pieces">szt.</p>
            </div>
            <p class="cart-product-price">15 zł</p>
            <ion-icon name="close-outline" class="remove-icon--cart"></ion-icon>
          </div>
        </div>

        <a href="#" class="back--cart">
          <ion-icon name="arrow-back-outline"></ion-icon>
          <p>Kontynuuj zakupy</p>
        </a>
      </div>

      <div class="summary">
        <h2 class="heading heading--summary">Podsumowanie</h2>
        <h3 class="subheading subheading--shipping">Dostawa</h3>
        <select name="#" id="#" class="select-delivery">
          <option value="">Wybierz formę dostawy</option>
          <option value="standard-delivery">Standardowa dostawa - 14.99 zł</option>
          <option value="city-delivery">Dostawa na terenie Wrocławia - 9.99 zł</option>
          <option value="self-pickup">Odbiór osobisty - 0.00 zł</option>
        </select>
        <h3 class="subheading subheading--shipping">Uwagi do zamówienia</h3>
        <textarea name="" id="" class="additional-comment"></textarea>
        <div class="summary-price-items">
          <h3 class="subheading subheading--total">Łączna cena</h3>
          <div>
            <p>3 produkty</p>
            <p>150.00 zł</p>
          </div>
        </div>
        <a href="#" class="btn-checkout">Płatność</a>
      </div>
    </section>
  </main>
{% endblock content %}