@use "../abstracts" as *;

.btn--sign-in, .btn--store, .account--sign-up, .account--sign-in, .proceed-payment--btn {
  @extend %btn--green;
}

.quote-account--sign-in, .quote-account--sign-up {
  @extend %btn--white;
}

.add-to-cart--btn {
  @extend %btn--grey;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  span {
    font-size: $fs-8;
  }
}
