@use "../abstracts" as *;

.account--sign-up, .account--sign-in, .proceed-payment--btn {
  @extend %btn--green;
}

.btn--store {
  @extend %btn--green;
  text-decoration: none;
}

.btn--sign-in {
  @extend %btn--green;
  text-decoration: none;
}

.btn--logout {
  @extend %btn--red;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.quote-account--sign-in, .quote-account--sign-up {
  @extend %btn--white;
  text-decoration: none;
  text-align: center;
}

.add-to-cart--btn {
  @extend %btn--grey;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  span {
    font-size: $fs-8;
  }
}

.btn-checkout {
  @extend %btn--white;
  text-decoration: none;
  text-align: center;
}