{% extends 'store/main.html' %}
{% load static %}

{% block content %}
  <main class="main--cart">
    <section class="cart-section">
      <div class="cart">
        <div class="quote--cart">
          <h2 class="heading heading--cart">Twój koszyk</h2>
          <p class="total-amount">Produkty: {{ order.get_cart_items }}</p>
        </div>

        <div class="items--cart">
          {% for item in items %}
            <div class="gallery-container product">
              <figure class="gallery-item">
                <a href="{% url 'product' item.product.slug item.product.id %}">
                  <img data-src="{{ item.product.image_url }}" alt="{{ item.product.name }}" class="lazy">
                  <img data-src="{{ item.product.second_image_url }}" alt="{{ item.product.name }}" class="img-hover lazy">
                </a>
              </figure>
              <a href="{% url 'product' item.product.slug item.product.id %}" class="product-name">{{ item.product.name }}</a>
              <div class="quantity-box">
                <p class="quantity">{{ item.quantity }}</p>
                <p class="pieces">szt.</p>
                <div class="quantity-btns">
                  <ion-icon name="caret-up-outline" class="icon-quantity--increase update-cart" data-product="{{ item.product.id }}" data-action="increase"></ion-icon>
                  <ion-icon name="caret-down-outline" class="icon-quantity--decrease update-cart" data-product="{{ item.product.id }}" data-action="decrease"></ion-icon>
                </div>
              </div>
              <p class="cart-product-price">{{ item.get_total | floatformat:2 }} zł</p>
              <ion-icon name="close-outline" class="remove-icon--cart update-cart" data-product="{{ item.product.id }}" data-action="remove"></ion-icon>
            </div>
          {% endfor %}
        </div>

        <a href="{% url 'store' %}" class="back--cart">
          <ion-icon name="arrow-back-outline"></ion-icon>
          <p>Kontynuuj zakupy</p>
        </a>
      </div>

      <div class="summary">
        <h2 class="heading heading--summary">Podsumowanie</h2>
        <form method="POST">
          {% csrf_token %}
          <h3 class="subheading subheading--shipping">Dostawa</h3>
          {{ form.shipper }}
          <h3 class="subheading subheading--shipping">Uwagi do zamówienia</h3>
          {{ form.order_comment }}
          <div class="summary-price-items">
            <h3 class="subheading subheading--total">Łączna cena</h3>
            <div>
              <p>Produkty: {{ order.get_cart_items }}</p>
              <p>{{ order.get_cart_total | floatformat:2 }} zł</p>
            </div>
          </div>
          <button class="btn-checkout">Płatność</button>
        </form>
      </div>
    </section>
  </main>
{% endblock content %}