{% extends 'store/main.html' %}
{% load static %}

{% block content %}
  <main class="main--checkout">
    <section class="personal-section">
      <div class="personal-information">
        <form action="" method="POST" class="form--personal">
          {% csrf_token %}
          <div class="fields-container">
            {% for field in form.visible_fields %}
              <div>
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                  <p class="form--error">{{ field.errors.as_text }}</p>
                {% endif %}
              </div>
            {% endfor %}
            <div>
              <button class="proceed-payment--btn">Dokonaj płatności</button>
            </div>
          </div>
        </form>
      </div>
    </section>

    <section class="total-section">
      <div class="order-information">
        <div class="header--order">
          <h2 class="heading--order">Twoje zamówienie</h2>
          <a href="{% url 'cart' %}" class="edit-cart">Edytuj koszyk</a>
        </div>

        <div class="prices--box">
          <div class="price">
            <p class="price-name">Produkty:</p>
            <p class="price-amount">{{ order.get_cart_total | floatformat:2 }} zł</p>
          </div>
          <div class="price">
            <p class="price-name">Dostawa:</p>
            <p class="price-amount">{{ order.shipper.price | floatformat:2 }} zł</p>
          </div>
        </div>

        <div class="total-price--box">
          <p class="price-name">Łączna cena:</p>
          <p class="price-amount">{{ order.get_total_price | floatformat:2 }} zł</p>
        </div>
      </div>
    </section>
  </main>
{% endblock content %}