{% extends 'store/main.html' %}
{% load static %}

{% block content %}
  <main class="main--product">
    <section class="product-desc-section">
      <div class="gallery-container product">
        <figure class="gallery-item">
          <a href="#">
            <img data-src="{{ product_obj.image_url }}" alt="{{ product_obj.name }}" class="lazy">
            <img data-src="{{ product_obj.second_image_url }}" alt="{{ product_obj.name }}" class="img-hover lazy">
          </a>
        </figure>
        {% if product_obj.total_quantity > 0 %}
          <div class="add-to-cart">
            <input type="number" min="1" value="1" placeholder="1">
            <p>szt.</p>
            <button class="add-to-cart--btn update-cart" data-product="{{ product_obj.id }}" data-action="increase">
              <ion-icon name="cart-outline" class="add-to-cart--icon"></ion-icon>
              <span>Dodaj do koszyka</span>
            </button>
          </div>
          <p class="total-quantity">Dostępność: {{ product_obj.total_quantity }} szt.</p>
        {% else %}
          <div class="add-to-cart">
            <button class="add-to-cart--btn-unavailable">
              <ion-icon name="cart-outline" class="add-to-cart--icon"></ion-icon>
              <span>Produkt niedostępny</span>
            </button>
          </div>
          <p class="total-quantity">Dostępność: {{ product_obj.total_quantity }} szt.</p>
        {% endif %}
      </div>
      <div class="product-box">
        <h2 class="heading heading--product-name">{{ product_obj.name }}</h2>
        <p class="product-price">{{ product_obj.price | floatformat:2 }} zł</p>
        <div class="product-description--container">
          <div>
            <h3 class="subheading subheading--product-description">Opis</h3>
            <p class="product-description">
             {{ product_obj.description }}
            </p>
          </div>
          <div>
            <h3 class="subheading subheading--product-description">Stanowisko</h3>
            <p class="product-description">
              {{ product_obj.position }}
            </p>
          </div>
          <div>
            <h3 class="subheading subheading--product-description">Podlewanie</h3>
            <p class="product-description">
              {{ product_obj.watering }}
            </p>
          </div>
        </div>
      </div>
    </section>
  </main>
{% endblock content %}