{% extends 'store/main.html' %}
{% load static %}

{% block content %}
  <main class="main--store">
    <section class="categories-section">
      <h2 class="heading heading--categories">Kategorie</h2>
      <nav class="categories--nav">
        <ul class="categories--list">
          <li><a href="{% url 'store' %}" {% if current_category == "all" %} class="category--active" {% endif %}>Wszystkie rośliny</a></li>
          <li><a href="{% url 'store_category' "new" %}" {% if current_category == "new" %} class="category--active" {% endif %}>Nowości</a></li>
          {% for category in categories %}
            <li><a href="{% url 'store_category' category.slug %}" {% if current_category == category.slug %} class="category--active" {% endif %}>{{ category.name }}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </section>

    <section class="store-products-section">
      <h2 class="heading heading--products">{{ current_category_fullname }}</h2>
      <div class="store-products-container">
        {% for product in products %}
          <div class="gallery-container product">
            <figure class="gallery-item">
              <a href="{% url 'product' product.slug product.id %}">
                <img data-src="{{ product.image_url }}" alt="{{ product.name }}" class="lazy">
                <img data-src="{{ product.second_image_url }}" alt="{{ product.name }}" class="img-hover lazy">
              </a>
            </figure>
            <div class="gallery-item--description">
              <a href="{% url 'product' product.slug product.id %}" class="image-name">{{ product.name }}</a>
              <p class="image-price">{{ product.price | floatformat:2 }} zł</p>
            </div>
            <div class="add-to-cart">
              <button class="add-to-cart--btn update-cart" data-product="{{ product.id }}" data-action="increase">
                <ion-icon name="cart-outline" class="add-to-cart--icon"></ion-icon>
                <span>Dodaj do koszyka</span>
              </button>
            </div>
          </div>
        {% endfor %}
      </div>
      <nav class="pagination">
        <ul>
          {% if products.has_previous %}
            <li>
              <a href="{% url 'store_category_page' current_category products.previous_page_number %}" class="pagination-btn">
                <ion-icon name="chevron-back-outline"></ion-icon>
              </a>
            </li>
          {% endif %}

          {% for page in products.adjusted_elided_pages %}
            {% if page == products.paginator.ELLIPSIS %}
              {{ page }}
            {% else %}
              <li>
                <a href="{% url 'store_category_page' current_category page %}" class="pagination-number {% if page == products.number %}pagination-active{% endif %}">
                  {{ page }}
                </a>
              </li>
            {% endif %}
          {% endfor %}

          {% if products.has_next %}
            <li>
              <a href="{% url 'store_category_page' current_category products.next_page_number %}" class="pagination-btn">
                <ion-icon name="chevron-forward-outline"></ion-icon>
              </a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </section>
  </main>
{% endblock content %}