@use "../abstracts" as *;

.main--cart {
  justify-self: center;
  align-self: center;
}

.cart-section {
  border-radius: $br-normal;
  border: $border-solid;
  box-shadow: 1px 3px 10px 1px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 5rem;

  & > * {
    padding: 3rem;
  }
}

.items--cart {
  padding: 2rem 2rem 2rem 0;
  max-height: 40vh;
  min-width: 50rem;
  overflow: scroll;

  .gallery-container {
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 0.5fr 2.5fr 2.5fr 1fr 0.5fr;
    align-items: center;

    .quantity-box {
      display: flex;
      align-items: center;
      justify-content: center;
      //gap: 0.5rem;
    }

    .quantity-btns {
      display: flex;
      flex-direction: column;

      ion-icon {
        font-size: $fs-6;
        cursor: pointer;
        transition: color 0.3s;
      }

      .icon-quantity--increase:hover {
        color: $primary-dark;
      }

      .icon-quantity--decrease:hover {
        color: #ce4141;
      }
    }

    p {
      font-size: $fs-8;
      margin-right: 0.5rem;

      &:last-of-type {
        margin-right: 1rem;
      }
    }
  }

  .gallery-item {
    justify-self: left;
  }

  .gallery-item img {
    height: 7rem;
    width: 7rem;
  }
}

.product-name {
  &:link, &:visited {
    font-size: $fs-8;
    color: inherit;
    text-decoration: none;
    margin-left: 3rem;
    transition: color 0.3s;
  }

  &:hover, &:active {
    color: $primary;
  }
}

.remove-icon--cart {
  font-size: $fs-5;
  cursor: pointer;
  transition: color 0.2s;
  justify-self: right;

  &:hover {
    color: #ce4141;
  }
}

.quote--cart {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.heading--cart {
  padding: 0;
}

.cart {
  display: flex;
  flex-direction: column;
}

.back--cart {
  &:link, &:visited {
    color: inherit;
    text-decoration: none;
    margin-top: auto;
    padding-top: 2rem;
    width: fit-content;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &:hover, &:active {
    color: $primary;
  }

  ion-icon {
    font-size: $fs-6;
  }

  p {
    font-size: $fs-7;
  }
}

.total-amount {
  font-size: $fs-8;
}

.cart-product-price {
  font-size: $fs-8;
}

// summary
.summary {
  color: #fff;
  border-left: $border-solid;
  background-color: $primary-dark;
  border-top-right-radius: $br-normal;
  border-bottom-right-radius: $br-normal;

  & form {
    display: flex;
    flex-direction: column;
  }
}

.heading--summary {
  color: #fff;
  text-align: left;
  padding: 0;
}

.summary-price-items {
  margin-bottom: 2rem;
  margin-top: auto;

  p {
    font-size: $fs-8;
  }

  div {
    display: flex;
    justify-content: space-between;
  }
}

.subheading--shipping {
  font-size: $fs-7;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.select-delivery {
  font-family: inherit;
  background-color: darken(#fff, 5%);
  padding: 1rem;
  border: none;
  border-radius: $br-normal;
}

.additional-comment {
  font-family: inherit;
  background-color: darken(#fff, 5%);
  padding: 1rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: $br-normal;
  width: 100%;
  height: 100%;
  resize: none;
}

.subheading--total {
  font-size: $fs-7;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2px;
  margin-bottom: 0.5rem;
}
