@use "../abstracts" as *;

.main--store {
  justify-self: center;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 3rem;
}

.categories-section, .store-products-section {
  margin-top: 7.8rem;
}

.store-products-section {
  margin-bottom: 7.8rem;
  display: flex;
  flex-direction: column;
  min-width: 120rem;
}

.category-empty--error {
  font-size: $fs-6;

  grid-column: 1 / -1;
  justify-self: center;
  align-self: center;
}

.heading--categories{
  text-align: left;
}

.heading--products {
  text-align: center;
}

.category--active {
  color: $primary !important;
}

.store-products-section {
  border: $border-solid;
  border-radius: $br-normal;
  padding: 3rem 6rem;
}

.store-products-container {
  margin-top: auto;
  margin-bottom: 5.2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
}

.categories--list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  a:link, a:visited {
    font-size: $fs-8;
    color: inherit;
    text-decoration: none;
    letter-spacing: 0.2px;
    transition: all 0.3s;
  }

  a:hover, a:active {
    color: $primary;
  }
}

.categories-section {
  border: $border-solid;
  border-radius: $br-normal;
  padding: 3rem;
  height: fit-content;
}

.add-to-cart {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.add-to-cart--icon {
  font-size: $fs-5;
}