@use "./variables" as *;
@use "./colors" as *;
@use "./font-sizes" as *;

%btn {
  font-size: $fs-7;
  font-family: inherit;
  padding: 1rem;
  border: none;
  border-radius: $br-normal;
  cursor: pointer;
  transition: all 0.3s;
}

%btn--green {
  @extend %btn;
  color: #fff;
  background-color: $primary-dark;

  &:hover {
    background-color: $primary;
  }
}

%btn--white {
  @extend %btn;
  color: $secondary;
  background-color: #fff;

  &:hover {
    color: darken($secondary, 10%);
    background-color: darken(#fff, 7%);
  }
}

%btn--grey {
  @extend %btn;
  color: $secondary;
  background-color: darken(#fff, 5%);

  &:hover {
    color: #fff;
    background-color: $primary-dark;
  }
}