@use "./variables" as *;
@use "./colors" as *;
@use "./font-sizes" as *;

// --- BUTTONS ---
%btn {
  font-size: $fs-7;
  font-family: inherit;
  padding: 1rem;
  border: none;
  border-radius: $br-normal;
  cursor: pointer;
  transition: all 0.3s;
}

%btn--green {
  @extend %btn;
  color: #fff;
  background-color: $primary-dark;

  &:hover {
    background-color: $primary;
  }
}

%btn--white {
  @extend %btn;
  color: $secondary;
  background-color: #fff;

  &:hover {
    color: darken($secondary, 10%);
    background-color: darken(#fff, 7%);
  }
}

%btn--grey {
  @extend %btn;
  color: $secondary;
  background-color: darken(#fff, 5%);

  &:hover {
    color: #fff;
    background-color: $primary-dark;
  }
}

// --- INPUT ---
%input {
  font-family: inherit;
  color: inherit;
  background-color: darken(#fff, 5%);
  border: none;
  border-radius: $br-normal;

  &::placeholder {
    color: lighten($secondary, 20%);
  }
}

%input-number {
  @extend %input;
  padding: 1rem;
  letter-spacing: 0.2px;
}

%input-text {
  @extend %input;
  padding: 1.2rem;
  letter-spacing: 0.5px;
}