@use "../abstracts" as *;

.pagination {
  margin-top: auto;
  display: flex;
  //align-items: center;
  justify-content: center;
  //gap: 1rem;

  ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}

.pagination-number {
  font-size: $fs-8;
  color: inherit;
  text-decoration: none;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  transition: all 0.2s;

  &:hover {
    color: #fff;
    background-color: $primary-dark;
  }
}

.pagination-btn {
  font-size: $fs-6;
  color: inherit;
  padding: 1rem 1.5rem;
  transition: all 0.2s;
  display: flex;

  &:hover {
    color: $primary-dark;
  }
}

.pagination-active {
  color: #fff;
  background-color: $primary-dark;
  pointer-events: none;
}
