@use "../abstracts" as *;

.gallery-item a {
  display: flex;
  justify-content: center;
  position: relative;
}

.gallery-item a img {
  height: 30rem;
  width: 30rem;
  // images to resize (300px x 300px)
  cursor: pointer;
}

.img-hover {
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease-in;

  &:hover {
    opacity: 1;
  }
}

.image-name {
  &:link, &:visited {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s;
  }

  &:hover, &:active {
    color: $primary;
  }
}

.gallery-item--description {
  font-size: $fs-8;
  margin-top: 0.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}