{% extends 'store/main.html' %}
{% load static %}

{% block content %}
  <main class="main--account-action">
    <section class="account-section">
      <div class="account--box">
        <form action="" class="account--form" method="POST">
          {% csrf_token %}
          <div>
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="jan.kowalski@example.com" autofocus required>
          </div>
          <div>
            <label for="password">Hasło</label>
            <input type="password" name="password" minlength="8" placeholder="********" required>
          </div>
          <div>
            <button class="account--sign-in" type="submit">Zaloguj się</button>
          </div>
        </form>
      </div>
      <div class="quote--box">
        <h2 class="heading--account">Witaj ponownie!</h2>
        <p>
          Cieszymy się, że ponownie korzystasz z naszego sklepu online. Twój powrót sprawia nam ogromną radość, a my jesteśmy gotowi, aby
          uczynić Twoje zakupy jeszcze bardziej satysfakcjonującymi.
          <br>
          Dziękujemy, że jesteś z nami!
        </p>
        <a href="{% url 'signup' %}" class="quote-account--sign-up">Nie masz jeszcze konta? Zarejestruj się!</a>
      </div>
    </section>
  </main>
{% endblock content %}